########################
### IntellijIDEA
########################

.idea/
out/
*.iml

########################
### Eclipse
########################

bin/
.settings/
.project
.classpath

########################
### Maven
########################

target/

########################
### Raoul-the-Game
########################

*.rtg
